body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.contact-container {
  background-color: #e0f7fa;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-container h2 {
  margin-bottom: 20px;
}

hr{
  margin-bottom: 20px;
}

.contact-details {
  gap: 20px;
  width: 95%;
  padding: 12px 20px; 
  background-color: white;
  margin-bottom: 20px;
}

.cdetails{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 70px ;
}
.cdetails .addres{
  width: 30%;
  font-size: 18px;
}

.contact-details p i{
  font-size: 20px;
}
.contact-details .contact{
 color: red;
}
.contact-details .email{
 color: #35E6DF;
 font-weight: 500;
}

.form-map-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  background-color: white;
  padding: 20px;
}

.contact-form, .map-container {
  width: 48%;
}

.contact-form div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contact-form input, .contact-form textarea {
  width: 48%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.contact-form textarea {
  width: 100%;
  height: 100px;
}

.contact-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #f80404;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.map-container iframe {
  width: 100%;
  height: 100%;
}

.social-media-icons {
  text-align: center;
}

.map-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.map-container .social-media-icons i{
  font-size: 30px;
  cursor: pointer;
}